html,
body {
    font-family: Roboto;
    min-height: 100vh;
}

a:link {
    text-decoration: none;
}

/* Hero section */

/* Header and navigation links */
.hero-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 6rem 0;
}

.hero-footer-bg {
    background: oklch(27.8% 0.0296 256.8);
}

.hero-header-logo-text {
    font-size: 24px;
    color: oklch(98.4% 0.0028 128.5);
}

.hero-header ul {
    display: flex;
    gap: 30px;
    color: oklch(92.8% 0.0058 264.5);
}

/* Awesome text, button, subtext, and image */
.hero-awesome-text {
    font-size: 48px;
    color: oklch(98.4% 0.0028 128.5);
    font-weight: 900;
}

.hero-link-subtext {
    font-size: 18px;
    color: oklch(98.4% 0.0028 128.5);
}

.hero-button {
    color: oklch(98.4% 0.0028 128.5);
    background: oklch(62.2% 0.1888 259.3);
    padding: 0.2rem 1.8rem;
    border-radius: 0.5rem;
    font-weight: bold;
    width: 8rem;
}

.hero-split {
    display: flex;
    justify-content: center;
    margin: 0 2rem 0 15rem;
    padding: 0 0 4rem 0;
}

.placeholder-image {
    width: 50rem;
}

/* Random info with boxes section */
.random-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
    font-size: 36px;
    color: oklch(27.8% 0.0296 256.8);
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 30px 0 0 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figcapt-width {
    display: flex;
    flex-flow: row wrap;
    width: 95px;
}

.figimg-size {
    width: 10rem;
    height: 10rem;
}

/* Quote section */
.quote-layout {
    margin: 10rem 0 0 0;
}

.quote-bg {
    background: oklch(92.8% 0.0058 264.5);
    padding: 10rem;
}

.quote-text {
    text-align: center;
    font-size: 36px;
    color: oklch(27.8% 0.0296 256.8);
    font-weight: 300;
    font-style: italic;
}

/* Call to action */
.cta-layout {
    padding: 6.5rem;
}

.cta-bg {
    background: oklch(62.2% 0.1888 259.3);
    padding: 4.6rem;
    border-radius: 0.5rem;
}

.cta-text {
    color: oklch(98.4% 0.0028 128.5);
    font-weight: bold;
    font-size: 1.5rem;
}

.cta-sub-text {
    color: oklch(98.4% 0.0028 128.5);
    font-size: 0.8rem;
}
